<ul>
<% @questions.each_with_index do |question,index| %>
<li class="question<%= ' _active' if index == 0%>" data-url="/topics/<%=@topic.id%>/questions/<%=question.id%>">
	<h3 class="question-header">Question #<%= index+1%></h3>
	<p class="question-text"><%= question.title%></p>
	<% if not question.choices.empty? %>
		<ul class="choices">
			<% question.choices.each do |choice| %>
				<li><%= choice %></li>
			<%end%>
		</ul>

	<% end %>
	<span class="pagination"><%= index+1%> of <%= @questions.length%></span>
	<% if not question.answer.nil? %>
	<button class="btn-answer">answer</button>
	<p class="answer">(<%= question.answer %>)</p>
	<% end %>
</li>
<%end%>
</ul>